# dependencies
/node_modules
/dist
/.pnp
.pnp.js
.yarn/install-state.gz
.yarn/cache

# production
/build

# misc
.DS_Store
*.pem

# debug
yarn-debug.log*
yarn-error.log*
.yarn
# local env files
.env
.env*.local